* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
    width: 60px;
}

.icon-Sunny {
    display: flex;
}

.icon-Sunny h2 {
    margin: 10px;
    margin-top: 5px;
    font-size: 30px;
}

header {
    height: 80px;
    background: #fbc101;
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px;
    transition: 0.4s;
}

.show-menu,
.hide-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.show-menu {
    order: 1;
}

.menu a:hover,
.show-menu a:hover,
.hide-menu a:hover {
    color: #FDFEFE;
}

#check {
    display: none;
}

@media (max-width:768px) {

    .show-menu,
    .hide-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffe75c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }


    .menu a {

        display: block;

        padding: 20px;
    }

    .hide-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
    }
}

.box3 {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: auto;
    position: relative;
}

.container-div {
    width: 30%;
    height: auto;
    position: absolute;
    top: 13vw;
    left: 60vw;
}

.button {
    width: 30%;
    height: auto;
    position: absolute;
    top: 30vw;
    left: 60vw;
    color: white;
    display: flex;
}

.button-one {
    width: 150px;
    padding: 12px;
    border-radius: 10%;
    font-size: 15px;
    background-color: black;
    color: white;
}

.button-two {
    width: 150px;
    padding: 12px;
    margin-left: 20px;
    border-radius: 10%;
    font-size: 15px;
    background-color: black;
    color: white;
}

.container-div h2 {
    font-size: 1.27vw;
}

.container-div p {
    margin-top: 1vw;
    font-size: 3vw;
}

.textBox3 .contentText {
    margin: 50px;
    padding-bottom: 50px;
    font-size: 1.5vw;
}

.textBox3 .contentText h2 {
    margin-top: 2vw;
}

.timeline {
    width: 90%;
    margin-left: 3.5vw;
    border-top: 0.2vw dotted #ADD8E6;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.event {
    position: absolute;
    top: -1.5vw;
    background-color: black;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: -3.5vw;
}

.timeline2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 4%;
    margin-bottom: 10vw;
}

.img-text {
    text-align: center;
}

.box3 .textBox3 .timeline-container .timeline2 .img-text h3 {
    margin-top: 1vw;
}

.box3 .textBox3 .timeline-container .timeline2 .img-text p {
    width: 12vw;
    margin-top: 1vw;
}

.box4 {
    background-color: #dfecf4;
    margin-top: 35%;
    width: 100%;
    height: 37vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box4 .text-box4 {
    width: 26vw;
    padding: 3vw;
    position: absolute;
    margin-left: 50vw;
}

.box4 .text-box4 h2 {
    font-size: 1vw;
}

#titulo {
    width: 35vw;
    margin-top: 1vw;
    font-size: 3.8vw;
}

.box4 .text-box4 p {
    margin-top: 1vw;
}

.img-box4 {
    margin-top: 10px;
    display: flex;
}

#person1 {
    position: absolute;
    margin-top: -5vw;
    margin-left: 17vw;
    padding: 1vw;
}

#person2 {
    width: 220px;
    height: 550px;
    position: absolute;
    margin-top: -3vw;
    margin-left: 25vw;
    padding: 5vw;
}

#person3 {
    width: 350px;
    height: 300px;
    position: absolute;
    margin-top: 16.55vw;
    margin-left: 40vw;
    padding: 2vw;
}

#person4 {
    width: 175px;
    height: 175px;
    position: absolute;
    margin-top: 1.5vw;
    margin-left: 30.6vw;
    padding: 2vw;
}

#person5 {
    width: 175px;
    height: 175px;
    position: absolute;
    margin-top: 16.5vw;
    margin-left: 51.6vw;
    padding: 2vw;
}

.box5Contenedor {
    height: 15vw;
    padding: 5vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.box5Contenedor p {
    margin-top: 1vw;
}

.parrafoBox5 {
    width: 100px;
    margin-left: 4.5vw;
}

.box5Contenedor img {
    width: 4vw;
    height: 4vw;
    margin-top: 2vw;
}

.box5Contenedor .boxBox5 {
    width: 15vw;
    height: 15vw;
    background-color: #fbc101;
}

.box5Contenedor .boxBox5 div {
    display: flex;
    justify-content: center;
}

.box5Contenedor .boxBox5 div p {
    margin-top: 2.2vw;
}

.box5Contenedor .imagenflechaderecha {
    width: 40px;
    height: 30px;
}

.box6 {
    background-color: black;
    width: 100%;
    height: 50vw;
}

.head-box6 {
    padding: 5%;
    font-size: 25px;
    color: white;
}

.conteiner-box6 {
    margin-left: 8%;
}

.h2-box6 {
    margin-top: 2%;
}

.body-box6 {
    width: 100%;
    height: 60%;
}

.containert-comment {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: #dfecf4;
    border-radius: 20px;
}

.column-orange-comment {
    width: 15%;
    height: 100%;
    margin-left: 15%;
    margin-top: -31.6%;
    background-color: #fbc101;
}

.box6 #imgSeñora {
    width: 20vw;
    height: 20vw;
    margin-top: 6%;
    margin-left: 8.5vw;
}

.cinco-estrellas {
    margin-left: 33vw;
    margin-top: -25vw;
}

#textComment {
    width: 38vw;
    margin-left: 32.5vw;
    margin-top: 1vw;
    color: black;
    font-size: 35px;
}

#name-mia {
    width: 17vw;
    margin-left: 32.5vw;
    margin-top: 4vw;
    color: black;
    font-size: 25px;
}

#viñetas {
    margin: 3vw;
    margin-top: -8vw;
    display: flex;
    justify-content: space-between;
}

.box7 {
    width: 100%;
    height: 40vw;
}

.timeline-box7 {
    width: 87%;
    margin-left: 6.45vw;
    margin-top: -3vw;
    border-top: 0.2vw dotted #ADD8E6;
    text-align: center;
}

.box7 .head-box7 {
    display: flex;
    justify-content: space-between;
}

.box7 .head-box7 .box {
    margin: 6vw;
    display: flex;
}

.box7 .head-box7 .box div {
    margin-right: 1vw;
}

.box7 .head-box7 .box img {
    width: 3vw;
}

.box7 .head-box7 .box p {
    margin-top: 0.8vw;
    font-size: small;
}

.box7 .head-box7 .box h2 {
    margin-top: 0.5vw;
}

.box7 .container-box7 {
    margin: 1%;
}

.box7 .container-box7 .section-box7 {
    margin-left: 4%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.box7 .container-box7 .section-box7 .tree-columns .container-tree-columns {
    margin: 3%;
    display: flex;

}

.box7 .container-box7 .section-box7 .two-columns .container-two-columns {
    width: 375px;
    margin: 4%;
    display: flex;
    justify-content: space-between;
}

.box7 .container-box7 .section-box7 .two-columns .container-two-columns .two-columns-a p {
    height: 40px;
}

.box7 .container-box7 .section-box7 .two-columns .container-two-columns .two-columns-b p {
    width: 230px;
    height: 40px;
}

.box8 {
    background-color: #ADD8E6;
    width: 100%;
    height: 10vw;
}

.box8 .contairne-box8 {
    margin: 50px;
    height: 100%;
}

.box8 .contairne-box8 .section-box8 {
    margin: 3%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
}

.box8 .contairne-box8 .section-box8 .column-one {
    margin-top: 6%;
}

.box8 .contairne-box8 .section-box8 .column-two {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.box8 .contairne-box8 .section-box8 .column-two p {
    margin-right: 10px;
}